# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../课程配套源码\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\eclipseWork\课程配套源码\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
